<div class="container">
    <div id="home" class="hero-area">
        <svg width="512px" height="512px" version="1.1">
            <path fill="transparent" stroke="#fff" stroke-width="5" d="M 104.321 167.286 L 254.756 72.792 L 139.095 269.339 Z M 104.321 167.286 L 103.828 353.881 L 139.095 269.339 Z M 136.395 269.421 L 142.748 269.677 L 356.629 212.548 L 305.811 364.587 Z M 139.095 269.339 L 254.651 446.823 L 104.699 352.494 Z M 250.849 446.907 L 305.852 367.186 L 405.108 353.894 Z M 356.671 215.136 L 403.386 356.668 L 408.41 168.641 L 403.812 166.679 Z M 252.107 72.806 L 356.009 212.557 L 406.401 166.848 Z" class="path"></path>
          </svg>
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-info">{{'home_title' | translate}}</h1>
                        <p class="lead white-text">{{'home_p' | translate}}</p>
                        <a class="main-button icon-button" [routerLink]="[getRoute()]">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>