<div class="container">
    <div id="home" class="hero-area">
        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-info">{{'home_title' | translate}}</h1>
                        <p class="lead white-text">{{'home_p' | translate}}</p>
                        <a class="main-button icon-button" [routerLink]="[getRoute()]">{{'getStarted' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>