/* --- Buttons --- */

.main-button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #CB3234;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-button:hover,
.main-button:focus {
    background-color: #fff;
    border: 2px solid #CB3234;
    color: #CB3234;
}

.main-button.icon-button:hover,
.main-button.icon-button:focus {
    padding-right: 45px;
}

.main-button.icon-button:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    width: 30px;
    right: 15px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-button.icon-button:hover:after,
.main-button.icon-button:focus:after {
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
}

.inforide {
    background-color: #131317;
    border-radius: 8 px;
    height: 175px;
    position: relative;
}

.ride img {
    margin-top: 5px;
    width: 20%;
}

.op:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.op:active {
    transform: scale(0.9);
    border-color: transparent;
}

.op:focus {
    outline: 0px;
}

.ride {
    position: relative;
    background-color: #cb3234;
    padding-top: 15px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    height: 50%;
}

.fontsty {
    position: relative;
    text-align: center;
}

.fontsty h4 {
    color: #666666;
    font-family: Poppins-Bold;
    font-size: 15px;
    margin-top: 53px;
}

.wrap-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.container-100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-100 {
    width: 1000px;
    background: #0d0e12;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px 50px 50px 90px;
}

.title {
    font-family: Poppins-Bold;
    font-size: 40px;
    color: #333333;
    text-align: center;
    width: 100%;
    display: block;
}