<div class="container-100">
    <div class="wrap-100">

        <div class="center text-left">
            <div class="col-md-12">
                <h1 class="text-info">{{'home_title' | translate}}</h1>
                <p class="lead white-text">{{'home_p' | translate}}</p>
            </div>
        </div>

        <div class="center text-left mt-4 mb-4">
            <div class="col-md-12">
                <h3 class="text-info">{{'prefered' | translate}}</h3>
            </div>
        </div>

        <div class="center">
            <div class="col-md-4  mb-2 mt-4 op" [routerLink]="['/dashboard/0001/students']">
                <div class="inforide ">
                    <div class="ride">
                        <img src="public/images/stud.png">
                        <div class="fontsty">
                            <h4>{{estudiantes}} {{'dashboard_su.stu' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4  mb-2 mt-4 op" [routerLink]="['/dashboard/0001/teachers']">
                <div class="inforide">
                    <div class="ride">
                        <img src="public/images/prof.png">
                        <div class="fontsty">
                            <h4>{{maestros}} {{'dashboard_su.prof' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="center">
            <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['/dashboard/0001/courses']">
                <div class="inforide ">
                    <div class="ride">
                        <img src="public/images/cour.png">
                        <div class="fontsty">
                            <h4>{{cursos}} {{'dashboard_su.course' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['/dashboard/0001/institutions']">
                <div class="inforide">
                    <div class="ride">
                        <img src="public/images/career.png">
                        <div class="fontsty">
                            <h4>{{instituciones}} {{'dashboard_su.inst' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <a class="main-button icon-button" [routerLink]="[getRoute()]">Get Started!</a>
        </div>
    </div>
</div>