@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -30720px 0px;
  }
}
.shapeshifter {
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  width: 512px;
  height: 512px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play60;
}
