<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-pic" data-tilt>
                <img src="public/images/inst.png" alt="IMG">
            </div>
            <form class="mt-2" #institutionForm="ngForm" (ngSubmit)="createInstitution(institutionForm)">
                <h2 class="text-info mb-5 text-center brand">{{'institution.title' | translate}}</h2>
                <div id="code" class="form-group wrap-input">
                    <input type="text" name="code" class="form-control input" placeholder="{{'institution.code' | translate}}" [(ngModel)]="code">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                      <i class="fa fa-phone prefix" aria-hidden="true"></i>
                  </span>
                    <span class="input-valid">
                      <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                    <span class="input-invalid shake">
                      <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
                <div id="name" class="form-group wrap-input">
                    <input type="text" name="name" class="form-control input" placeholder="{{'institution.name' | translate}}" [(ngModel)]="name">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                      <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                    <span class="input-valid">
                      <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                    <span class="input-invalid shake">
                      <i class="fa fa-times" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="wrap-btn-inline">
                    <button class="btn btn-info col-md-6" type="submit">{{'institution.title' | translate}}</button>
                    <button class="btn btn-dark col-md-6" type="button" (click)="cleanForm(institutionForm)">{{'institution.cancel' | translate}}</button>
                </div>
            </form>
            <div class="table-container mt-4">
                <table class="table-rwd">
                    <thead>
                        <th style="width: 100px" scope="col" class="tb-title table-primary">{{'institution.code' | translate}}</th>
                        <th scope="col" class="tb-title table-primary">{{'institution.name' | translate}}</th>
                        <th style="width: 100px" scope="col" class="tb-title table-primary">{{'institution.ops' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let institution of institutionService.institutions">
                            <td>{{institution.code}}</td>
                            <td>{{institution.name}}</td>
                            <td ng-if="showTooltip" class="text-center">
                                <i class="fa fa-pencil-square-o op-icon" style="margin-right: 15px;" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Edit" title="Edit Student"></i>
                                <i class="fa fa-trash-o op-icon" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Delete" title="Delete Student" data-toggle="modal" data-target="#deleteConfirmation" (click)="selectInstitution(institution)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">{{'delConf' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="text-info"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            </div>
            <div class="modal-body">
                <p>{{'delConfInst' | translate}} "{{institutionSelected.name}}"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" (click)="deleteInstitution()">{{'delConfOp1' | translate}}</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="flushSelectedInstitution()">{{'delConfOp2' | translate}}</button>
            </div>
        </div>
    </div>
</div>