<div class="container-100">
  <div class="wrap-100">
      <p class="title">{{'dashboard_su.title1' | translate}} <span class="text-info">{{'dashboard_su.title2' | translate}}</span></p>
      <div>
          <div class="row">
              <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['courses']">
                  <div class="inforide">
                      <div class="ride">
                          <img src="public/images/cour.png">
                      </div>
                      <div class="fontsty">
                          <h4>{{'dashboard_su.course' | translate}}</h4>
                      </div>
                  </div>
              </div>
              <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['homeworks']">
                  <div class="inforide">
                      <div class="ride">
                          <img src="public/images/homework.png">
                      </div>
                      <div class="fontsty">
                          <h4>{{'homework' | translate}}</h4>
                      </div>
                  </div>
              </div>
              <div class=" col-md-4  mb-2 mt-4 op" [routerLink]="['ratings', id]">
                  <div class="inforide">
                      <div class="ride">
                          <img src="public/images/grades.png">
                      </div>
                      <div class="fontsty">
                          <h4>{{'grades' | translate}}</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>